extends ./layout

block body
  header
    h1 SERVER ERROR!
    p LOL! You did something and now everything broke! #rekt
  section.swag
  - var i = 1
  while i<7
    img(src="/images/swag/#{i++}.gif" width="640")
