.off-canvas.position-right.small-12.medium-3.columns.reveal-for-large#extra(data-off-canvas data-position="right" style="position: absolute; height: 100%")
  #info
    p Encoding progress is displayed here
